@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@media screen and (max-width: 768px) {

    html,
    body {

        height: 100%;
        min-height: 100%;
        background-color: #141F26;
        /* cor base */
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
}

.header ul {
    display: none;
}

.sectionTitulo {

    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    min-height: calc(100svh - 70px);
    /* Safari-friendly */
    
    /* garante continuidade */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sectionTitulo h1 {
    position: absolute;
    left: 25%;
    font-size: 2.5em;
    text-align: left;
}

.sectionTitulo h2 {
    position: absolute;
    left: 20%;
    top: 30%;
    font-size: 1.5em;
    width: 70%;
}

.chat {
    position: absolute;
    top: 44%;
    left: 19%;
}

.sectionBlocos {
    display: flex;
    height: auto;
    background-image: url(../imagenslanding/lineargradient.png);
    margin-top: 0;
    padding-top: 0;
}

.areasAtuacao {
    background-image: url(../imagenslanding/gradientlinear.png);
}

.areasList {
    display: none;
}

.formularios {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}