@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@media screen and (max-width: 768px) {

    html,
    body {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        /* Tira a borda branca. */
        box-sizing: border-box;

        background-color: #c90fb9;
        /* ou cor do topo */
    }
}

.header ul {
    display: none;
}

.sectionTitulo {
    height: 100vh;
    width: auto;
    position: relative;
    padding-bottom: 0;
    height: calc(100dvh - 70px);
    /* subtrai a altura do header */
    min-height: calc(100dvh - 70px);
}

.sectionTitulo h1 {
    position: absolute;
    left: 25%;
    font-size: 2.5em;
    text-align: left;
}

.sectionTitulo h2 {
    position: absolute;
    left: 20%;
    top: 30%;
    font-size: 1.5em;
    width: 70%;
}

.chat {
    position: absolute;
    top: 44%;
    left: 19%;
}

.sectionBlocos {
    display: flex;
    height: auto;
    background-image: url(../imagenslanding/lineargradient.png);
    margin-top: 0;
    padding-top: 0;
}

.areasAtuacao {
    background-image: url(../imagenslanding/gradientlinear.png);
}

.areasList {
    display: none;
}

.formularios {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}



}